@page "/DeleteMenus"
@inject NavigationManager NavigationManager
<h3>DeleteMenus</h3>

@code {
    private DeleteMenus deleteMenus;
    
    protected override async Task OnInitializedAsync()
    {
        deleteMenus = Seed();
    }
    private DeleteMenus Seed()
    {
        return deleteMenus;
    }
    private void Back()
    {
        NavigationManager.NavigateTo("/AllMenuItems");
    }
}