@page "/ViewMenuItems"
@inject NavigationManager NavigationManager
@using WebClient.Models
<h3>ViewMenuItems</h3>
<div class="text-center">
     <div class="text-center">
         <h3>All Menu Items</h3>
         <div class="btn btn-outline-dark" style="margin-top:5%; margin-bottom: 5%" @onclick="AllMenuItems">AllMenuItems</div>
             </div>
    <div class="text-center">
        <h3>Add Menu Items</h3>
        <div class="btn btn-outline-dark" style="margin-top:5%; margin-bottom: 5%" @onclick="AddMenuItems">AddMenuItems</div>
    </div>
    <button class=" btn btn-primary mr-1" @onclick="Back">Back</button>

</div>

@code {
    private IList<MenuItem> menusItems = new List<MenuItem>();
    [Parameter]
    public int Id { get; set; }

    private MenuItem menuItem;

    protected override async Task OnInitializedAsync()
    {
        menuItem = Seed();
    }

    private void AllMenuItems()
    {
        NavigationManager.NavigateTo("/AllMenuItems");
    }

    private void AddMenuItems()
    {
        NavigationManager.NavigateTo("/AddMenuItems");
    }

    private void Back()
    {
        NavigationManager.NavigateTo("/ManageMenus");
    }

    private MenuItem Seed()
    {
        return menuItem;
    }

}