@page "/ViewMenus"
@inject NavigationManager NavigationManager
@using WebClient.Models
@using WebClient.Data
@inject IMenusService MenusWebService

<h3>ViewMenus</h3>
 
<div class="text-center">
     <div class="text-center">
         <h3>All Menus</h3>
        

         <div class="btn btn-outline-dark" style="margin-top:5%; margin-bottom: 5%" @onclick="AllMenus">AllMenus</div>
         </div>
        
    <div class="text-center">
        <h3>Add Menus</h3>
        <div class="btn btn-outline-dark" style="margin-top:5%; margin-bottom: 5%" @onclick="AddMenus">AddMenus</div>
    </div>

    <button class=" btn btn-primary mr-1" @onclick="Back">Back</button>


</div>


@code {
    [Parameter]
    public int MenuId { get; set; }
    private IList<Menu> menus = new List<Menu>();
    private List<Menu> menu;
   

    protected override async Task OnInitializedAsync()
    {
       
    }

    private void AllMenus()
    {
        NavigationManager.NavigateTo("/AllMenus");
    }

    private void AddMenus()
    {
        NavigationManager.NavigateTo("/AddMenus");
    }
    
    private void Back()
    {
        NavigationManager.NavigateTo("ManageMenus");
    }

    

   
    



}