@page "/BookATable"
@using WebClient.Models
@using WebClient.Data
@using Microsoft.AspNetCore.Http.Connections
@inject ITableBookingService tableBookingService

<h3>Book A Table</h3>
<body>
    <!-- Table Reservation Form -->
<section id="book-a-table" class="book-a-table">
    <div class="container" data-aos="fade-up">
        <div class="row">
            <div class="col-md-8 offset-md-2 text-center">
                <h2 class="text-primary">Book A Table</h2>
            </div>
        </div>

        <EditForm Model="@inputDateTime" OnValidSubmit="GetBookings">
            <div class="form-row">

                <div class="col-lg-4 col-md-6 form-group">
                    <InputDate type="date" @bind-Value="inputDateTime"  name="date" class="form-control" id="date" placeholder="Date" />
                </div>
                <div class="col-lg-4 col-md-6 form-group">
                    <input type="number" class="form-control" name="people" id="people" placeholder="No. of people">
                    
                </div>
            <div class="col-lg-4 col-md-6 form-group">

                <button type="submit" class="btn btn-primary float-right mt-3">Check availability</button>
                </div>

            </div>
        </EditForm>
        <EditForm Model="@newTableBooking" OnValidSubmit="CreateTableBooking">
            <!-- Displaying available times-->
            <div class="container py-7">
                  @*@if ((newTableBooking.BookingDateTime != null) && newTableBooking.People != 0)
                  {*@
                      <h2 class="text-uppercase text-letter-spacing-xs my-0 text-primary font-weight-bold">

                          <b>Available times</b>
                      </h2>
                      <!-- Days -->
                      <div class="row">
                          <div class="col-lg-4 mb-3" id="Searching date">
                              <h4 class="mt-0 mb-3 text-dark op-8 font-weight-bold">
                                  @newTableBooking.BookingDateTime.Date
                              </h4>
                              <ul class="list-timeline list-timeline-primary">
                                  @foreach (var tableBooking in tableBookings.Where(tableBooking => !tableBooking.Table.IsBooked))
                                  {
                                      <li class="list-timeline-item p-0 pb-3 pb-lg-4 d-flex flex-wrap flex-column">
                                          <p class="my-0 text-dark flex-fw text-sm text-uppercase"><span class="text-inverse op-8">@tableBooking.BookingDateTime.Hour</span>     Available </p>
                                      </li>
                                  }
                              </ul>
                          </div>
                      </div>
                  @* } *@
            </div>
            <!-- Leaving comments and submit-->
            
            <div class="form-group">
                <textarea class="form-control" name="comments" placeholder="Leave a comment"></textarea>
            </div>
            <button type="submit" class="btn btn-primary float-right mt-3">Book a Table</button>
        </EditForm>
    </div>
</section>
</body>

@code {
  private TableBooking newTableBooking = new TableBooking();
  private List<TableBooking> tableBookings = new List<TableBooking>();
  private List<Table> tables = new List<Table>();
    private DateTime inputDateTime = DateTime.Today;
    private int people;


    private async Task GetBookings()
    {
       tableBookings =  await tableBookingService.GetBookings(inputDateTime);
    }

    private async Task CreateTableBooking(EditContext arg)
    {
       await tableBookingService.CreateTableBooking((TableBooking) arg.Model);
    }

}