@page "/ManageOrders"
@inject NavigationManager NavigationManager
<div class="text-center">
    <h3>Manage Orders</h3>
    <div class="text-center">
        <button class="btn btn-outline-dark" style="margin-top: 5%; margin-bottom: 5%" @onclick="ViewPendingOrders">Pending Orders</button>
    </div>
    <div class="text-center">
        <button class="btn btn-outline-dark" style="margin-top: 5%; margin-bottom: 5%" @onclick="ViewConfirmedOrders">Confirmed Orders</button>
    </div>
    <div class="text-center">
        <button class="btn btn-outline-dark" style="margin-top: 5%; margin-bottom: 5%" @onclick="ViewCompletedOrders">Completed Orders</button>
    </div>
</div>

@code {

    private void ViewPendingOrders()
    {
        NavigationManager.NavigateTo("/PendingOrders");
    }

    private void ViewConfirmedOrders()
    {
        NavigationManager.NavigateTo("/ConfirmedOrders");
    }

    private void ViewCompletedOrders()
    {
        NavigationManager.NavigateTo("/CompletedOrders");
    }

}