@page "/OrderConfirmation/{OrderId:long}"
@using Microsoft.AspNetCore.Components
@using MatBlazor
@using WebClient.Data
@using WebClient.Models
@using System.Threading
@inject IOrderService OrderService
@inject NavigationManager NavigationManager

<div class="text-center">
<h3>Order Confirmation</h3>

@if (order == null || order.Status.Equals("pending"))
{
    <button class="btn btn-primary" type="button" disabled>
        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
        Waiting for Order Confirmation...
    </button>
}
else if (status.Equals("confirmed"))
{
    <p>Your order has been confirmed!</p>
    if (order.IsDelivery)
    {
        <p>You can expect to receive your order at: @order.DeliveryTime.TimeOfDay</p>
    }
    else
    {
        <p>Your order will be available for pick up at: @order.DeliveryTime.TimeOfDay</p>
    }
}
</div>
<!--
<div>

    <span class="text-nowrap">
        <a target="_blank" class="font-weight-bold link-dark" href="/OrderInformation">Back</a>
    </span>
    
    <br/>

</div>

<h3>OrderConfirmation</h3>

 <p>
            <em>Status: Order under processing.........</em>
        </p>

<br/>


     <div class="progress" >
         <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"  aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%"></div>
         
     </div>

<br/>
<br/>

<div class="text-center">
    <h3 style="margin-bottom:5%">Order Item Id @OrderId</h3>
         <MatList class="text-center">
                <MatListItem>Item Name:@Name</MatListItem>
                <MatListItem>Quantity:@Quantity</MatListItem>
                <MatListItem> Price:@Price</MatListItem>
                <MatListItem>Total:@Total </MatListItem>
        </MatList>
   <div>
               <MatCheckbox @bind-Value="@checked1" Disabled="true" Label="Payed"></MatCheckbox>
           </div>
</div>
<br/>
<div>

    <span class="text-nowrap">
        <a target="_blank" class="font-weight-bold link-dark" href="/Index">Exit</a>
    </span>
</div>


-->












@code {
    
    [Parameter]
    public long OrderId { get; set; }

    private Order order;
    private OrderItem orderItems;
    private string Name;
    private decimal Price;
    private int Quantity;
    private Order Total;
    MatProgressBar progressBar;
    
    bool checked1 = true;
    private string status;
    
    protected override async Task OnInitializedAsync()
    {
        order = await OrderService.GetOrderAsync(OrderId);
        status = order.Status;
        await StartTimer();
    }

    private async Task StartTimer()
    {
        var timer = new Timer(new TimerCallback(async _ =>
        {
            order = await OrderService.GetOrderAsync(OrderId);
            status = order.Status;
            if (status.Equals("confirmed"))
            {
                await InvokeAsync(StateHasChanged);
            }
        }), null, 1000, 1000);
    }
    private async Task CheckOrderStatus()
    {
        
    }
    private OrderItem Seed()
    {
        return orderItems;
    }
    
   
    

}
        