@page "/OrderConfirmation"
@using Microsoft.AspNetCore.Components
@using MatBlazor
@using WebClient.Data

@inject IOrderItemsService OrderItemService




<h3>OrderConfirmation</h3>





@code {
    
    
    
    
    
    
}