@page "/OrderConfirmation"
@using Microsoft.AspNetCore.Components
@using MatBlazor
@using WebClient.Data
@using System.Timers
@using Timer = System.Threading.Timer
@using System.Threading
@using System.Collections
@using System.Net.Mime

@inject IOrderItemsService OrderItemService




<h3>OrderConfirmation</h3>




<MatProgressBar Indeterminate="true" Reversed="true"></MatProgressBar>/>

    

<br/>
<br/>
<br/>

<div>

<span class="text-nowrap">
    <a target="_blank" class="font-weight-bold link-dark" href="/Index">Exit</a>
</span>

</div>












@code {
   

    public object ShowProgress { get; set; }

}