@page "/ViewMenus"
@inject NavigationManager NavigationManager
@using WebClient.Models
@using Microsoft.AspNetCore.Mvc.Diagnostics

<h3>ViewMenus</h3>
<div class="text-center">
     <div class="text-center">
         <h3>All Menus</h3>
         @if (menu.MenuItems != null)
                {
                    @foreach (var menuItem in menu.MenuItems)
                    {
                        <p>Menu Name: @menuItem.Name</p>
                        <p>Quantity: @menuItem.Price</p>
                        <p>MenuItems:</p>
                        foreach (var selection in menuItem.MenusItemsSelections)
                        {
                            <p>MenuItem Name: @selection.MenuItem.Name</p>
                            <p>Quantity: @selection.Price</p>
                        }
                    }
                }
                else
                {
                    <p>The selected menu has no menu items</p>
                }

         <div class="btn btn-outline-dark" style="margin-top:5%; margin-bottom: 5%" @onclick="AllMenus">AllMenus</div>
         </div>
        
    <div class="text-center">
        <h3>Add Menus</h3>
        <div class="btn btn-outline-dark" style="margin-top:5%; margin-bottom: 5%" @onclick="AddMenus">AddMenus</div>
    </div>

    <button class=" btn btn-primary mr-1" @onclick="Back">Back</button>


</div>


@code {
    private IList<Menu> menus = new List<Menu>();
    private Menu menu;
   

    protected override async Task OnInitializedAsync()
    {
        menu = Seed();
    }

    private void AllMenus()
    {
        NavigationManager.NavigateTo("/AllMenus");
    }

    private void AddMenus()
    {
        NavigationManager.NavigateTo("/AddMenus");
    }
    
    private void Back()
    {
        NavigationManager.NavigateTo("ManageMenus");
    }

    

    private Menu Seed()
    {
        return menu;
    }




}