@page "/ViewMenus"
@inject NavigationManager NavigationManager
@using WebClient.Models
@using Microsoft.AspNetCore.Mvc.Diagnostics

<h3>ViewMenus</h3>
<div class="text-center">
    <h3 style="margin-bottom:5%">Menu @Id</h3>
    <p>Menu Name:@Name</p>
    <p>Menu Quantity:@Quantity</p>
    <p>Menu Price:@Price</p>
    <p>Menu Status:@Menu.Status</p>
    <p>Menus</p>
    
</div>


@code {
    [Parameter]
    public int Id { get; set; }

    private Menu menu;
    private string Name;
    private int Quantity;
    private double Price;

    protected override async Task OnInitializedAsync()
    {
        menu = Seed();
    }

    private Menu Seed()
    {
        
    }




}